@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    margin: 0;
    padding: 0;

    font-family: 'Bebas Neue', sans-serif;
    font-size: x-large;
    font-weight: normal;
    font-style: normal;
    color: #1c1c1c;
    background: #fff4e0;
    text-decoration: none;
}

header {
    display: flex;

    justify-content: space-between;

    background: #ffc400;
    width: 100%;
}

header h1 {
    font-size: 60px;
    font-style: normal;
    font-weight: bold;
    font-family: 'Lobster', sans-serif;
    margin: auto;
}

header nav {
    margin: auto 24px;
}

header nav ul {
    list-style: none;
}

header nav li {
    display: inline;
    font-size: 24px;
    margin: 4px;
    padding: 4px;
}

header nav a {
    display: inline-block;
    position: relative;
}

header nav a::after {
    content: '';
    position: absolute;

    bottom: 0;
    left: 50%;

    background: #000;
    width: 0;
    height: 2px;
    opacity: 0.7;

    transition: 0.1s ease-in-out width, 0.1s ease-in-out left;
}

header nav a:hover {
    text-decoration: none;
}

header nav a:hover::after {
    width: 100%;
    left: 0;
}

header nav a.selected::after {
    width: 100%;
    left: 0;
}

header .left {
    display: flex;

    align-items: center;
}

header .left hr {
    padding: 0;
    height: 80%;
    border-right: 2px solid #1c1c1c;
}

.slogan {
    position: relative;
    background: url(images/background_home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slogan div {
    display: flex;
    justify-content: center;
    text-align: center;

    font-size: 45px;
    
    backdrop-filter: blur(0);
    opacity: 0;
    transition: ease-out 1s opacity, ease-out 1s backdrop-filter;
    padding:200px;
    
}

.slogan:hover div , .slogan:hover .download{
    opacity: 1;
    backdrop-filter: blur(5px);
}
.slogan .download {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 8px;
    opacity: 0;
    transition: ease-out 1s opacity;
}

.presentation {
    margin: 24px;
}

.presentation td {
    vertical-align: top;
    width: 33%;
}

.presentation td section {
    margin: 12px;
    padding: 24px;
}

.bienvenue {
    text-align: center;
}

.a-propos,
.specialite {
    border-right: 2px #1c1c1c solid;
}

.contact {
    display: flex;
    
    justify-content: space-around;
    width: 100%;
}

.formulaire input, .formulaire textarea {
    width: 400px;
    height: 50px;
    margin: auto;
    padding-left: 25px;

    border: none;
    outline: none;


    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.emplacement address{
    display: inline;

    text-decoration: dotted underline;
    color: #ffc400;
    font-style: normal;
}

footer {
    display: flex;
    justify-items: space-around;
    background: #1c1c1c;
}

footer, footer h2, footer a {
    font-size: large;
    color: #fff4e0;
}

footer section, footer hr {
    margin: auto;
}

hr.footer{
    background: #ffc400;
}
footer hr{
    height: 100px;
    border-right: 5px solid #f5ae2b;
}

h2,
h3 {
    font-style: normal;
    font-weight: 500;
    text-decoration: underline;
}

h2 {
    font-size: xx-large;
}

h3, em {
    color: #f5ae2b;
}

em {
    font-style: oblique;
    font-weight: bold;
}

strong {
    color: #ffc400;
    font-weight: bold;
}

p {
    text-indent: 24px;
}

a {
    color: #1c1c1c;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
    text-decoration: underline;
}

hr {
    border: none;
    height: 8px;
    margin: 0;

    background: #1c1c1c;
}

.menu h3 {
    text-align: center;
    font-family: 'Pacifico', cursive, sans-serif;
}

.menu hr {
    height: 4px;
    width: 80%;

    margin: auto;
}

.menu .bienvenue h3 {
    font-size: 30px;
    text-decoration: none;

    position: relative;
    top: 30px;
}

.menu .bienvenue em{
    display: block;
    color: #1c1c1c;
    font-family: 'Lobster', sans-serif;
    font-style:normal;
    font-size: 55px;

    position: relative;
    bottom: 25px; 
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 0 auto 10px;
    padding:0;
    transition: transform 0.3s ease-in-out;
}

.menu li:hover {
    transform: translateY(-5px);
}

.menu .left {
    text-align:left;
    margin-left: 25%;
}

.menu .right {
    text-align: right;
    margin-right: 25%;
}

.menu .center {
    text-align: center;
}