@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Bebas Neue', sans-serif;
    font-size: x-large;
    font-weight: normal;
    font-style: normal;
    color: #1c1c1c;
    background: #fff4e0;
    text-decoration: none;
}

header {
    display: flex;

    justify-content: space-between;

    background: #ffc400;
    width: 100%;
}

header h1 {
    font-style: normal;
    font-weight: bold;
    font-family: 'Lobster', sans-serif;
    margin: auto;
}

header .left {
    display: flex;
    align-items: center;
}

header .left hr {
    padding: 0;
    height: 80%;
    border-right: 2px solid #1c1c1c;
}

header nav a {
    display: inline-block;
    position: relative;
    transition: 0.3s ease-in-out transform;
}

header nav a::after {
    content: '';
    position: absolute;

    bottom: 0;
    left: 50%;

    background: #000;
    width: 0;
    height: 2px;
    opacity: 0.7;

    transition: 0.3s ease-in-out width, 0.3s ease-in-out left;
}

header nav a.selected::after {
    width: 100%;
    left: 0;
}

header nav a:hover {
    text-decoration: none;
    transform: translateY(-3px);
}

header nav a:hover::after {
    width: 100%;
    left: 0;
}

main .slogan {
    background: url(images/background-home.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;

}

main .slogan div {

    text-align: center;

    backdrop-filter: blur(0);
    opacity: 0;
    transition: ease-out 1s opacity, ease-out 1s backdrop-filter;
    padding: 200px 0;
}

main .slogan:hover div,
.slogan:hover .download {
    opacity: 1;
    backdrop-filter: blur(5px);

}

main .slogan .download {
    position: absolute;
    ;
    bottom: 4px;
    right: 4px;
    opacity: 0;
    transition: ease-out 1s opacity, ease-out 1s backdrop-filter;
}

main .presentation {
    margin: 24px;
}

main .presentation .contenu {
    display: grid;
}

main .presentation .contenu>section {
    margin: 12px;
    padding: 24px;
}

main .bienvenue {
    text-align: center;
}

main .contact {
    display: grid;
    margin: 25px;
}

main .contact .formulaire input,
main .contact .formulaire textarea {
    display: block;
    margin: 12px auto;
    width: 80%;
    padding-left: 25px;

    border: none;
    outline: none;

    color: #666;
    border-radius: 50px;
}

main .contact .formulaire input {
    height: 50px;
    font-weight: 500;
}

main .contact .formulaire textarea {
    height: 200px;
    padding-top: 25px;
}

main.recu {
    padding: 8% 0;
}

main.recu p {
    width: 83%;
    padding: 10px 20px;
    margin: 25px;
    background: #f5ae2b;

    border-radius: 25px;
}

main .contact .emplacement address {
    display: inline;

    text-decoration: dotted underline;
    color: #ffc400;
    font-style: normal;
}

main .contact .emplacement #map {
    border-radius: 25px;
}

main.menu .propositions {
    display: flex;
    flex-direction: column;
}

main.menu details>ul {
    padding: 0;
}

main.menu .propositions input[type="number"],
main.menu details>ul>li .bas input[type="button"] {
    margin: 8px 0;
    padding: 8px;

    background: #fff;

    outline: none;
    border: none;

    position: relative;
    bottom: 3px;
}

main.menu details>ul>li .bas input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    text-align: center;
    width: 15px;
}

main.menu details>ul>li .bas input[type="number"]:disabled{
    color: #1c1c1c;
}
main.menu details>ul>li .bas input[type="button"]{
    cursor: pointer;
}

main.menu details>ul>li .bas input[type="button"]:first-child {
    left: 10px;
    border-radius: 25px 0 0 25px;
}

main.menu details>ul>li .bas input[type="button"]:last-child {
    right: 10px;
    border-radius: 0 25px 25px 0;
}

main.menu .propositions input[type="number"]::-webkit-inner-spin-button,
main.menu .propositions input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

main.menu .propositions input[type="submit"] {
    width: 300px;
    height: 50px;
}

main.menu details em {
    display: block;
    text-align: center;
    font-size: 15px;
    font-family: 'Pacifico', cursive, sans-serif;
    font-style: normal;
    margin: 0 50px;

    position: absolute;
    top: 35%;
}

main.menu h2,
main.menu h3,
main.menu summary {
    text-align: center;
    font-family: 'Pacifico', cursive, sans-serif;
}

main.menu details strong {
    color: #f5ae2b;
}

main.menu details summary {
    color: #f5ae2b;
    transition: .5s ease-in-out transform;
    cursor: pointer;
    text-decoration: none;
}

main.menu details summary:hover {
    transform: translateY(-5px);
}

main.menu details summary::marker {
    content: "+";
    color: #1c1c1c;
}

main.menu details[open] summary::marker {
    content: "-";
}

main.menu details>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

main.menu details>ul>li {
    background-color: #ffebcc;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    text-align: center;
    margin: 10px 5px;

    position: relative;

    transition: box-shadow ease-in-out .3s,
        transform ease-in-out .5s;
}

main.menu details>ul>li:hover {
    transform: translateY(-7px);
    box-shadow: 0 7px #504f4f;
}

main.menu details>ul>li .flip-card-interne {
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;

    width: 300px;
    height: 300px;

    transition: transform ease-in-out .5s;
    bottom: 25px;
}

main.menu details>ul>li:hover .flip-card-interne{
    transform: rotateY(180deg);
}

main.menu details>ul>li .flip-card-avant,
main.menu details>ul>li .flip-card-avant img,
main.menu details>ul>li .flip-card-arriere {
    border-radius: 25px;
}

main.menu details>ul>li .flip-card-avant,
main.menu details>ul>li:hover .flip-card-arriere {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

main.menu details>ul>li .flip-card-avant {
    transition: opacity ease-in-out .5s;
}

main.menu details>ul>li:hover .flip-card-avant {
    opacity: 0;
}

main.menu details>ul>li .flip-card-arriere {
    opacity: 0;
    transition: opacity ease-in-out .3s;
}

main.menu details>ul>li:hover .flip-card-arriere {
    opacity: 1;
    transform: rotateY(180deg);
}

main.menu details>ul>li h3 {
    color: #1c1c1c;
}
main.menu details>ul>li .bas {
    position: absolute;
    bottom: 0;
    left: calc(50% - 45px);
}


main.menu .bienvenue {
    background: #fff4e0;
    position: relative;

    margin: 30px 0;
    height: 100px;
}

main.menu .bienvenue h3 {
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    margin: 0;

    top: 0;
    left: calc(50% - 86px);
}



main.menu .bienvenue h3::before,
main.menu .bienvenue h3::after {
    content: "-";
}

main.menu .bienvenue em {
    display: block;
    color: #1c1c1c;
    font-family: 'Lobster', sans-serif;
    font-style: normal;
    font-size: 55px;

    position: absolute;
    left: calc(50% - 122px);
    bottom: 0;
}

footer {
    position: relative;
    display: grid;

    background: #1c1c1c;
    font-size: large;
    color: #fff4e0;
}

footer a {
    color: inherit;
}

footer h3 {
    font-family: 'Pacifico', cursive, sans-serif;
}

footer ul,
footer h3 {
    text-align: center;
    margin: 0;
}

footer section {
    margin: 20px auto 5px;
}

footer .contact .social-icons {
    display: inline-block;
    margin-right: 5px;
}

footer .horraire ul>li:nth-child(2n+1) {
    font-family: 'Pacifico', cursive, sans-serif;
}

footer em{
    margin: 0 auto;
}

h2,
h3,
summary {
    font-style: normal;
    font-weight: 500;
    text-decoration: underline;
}

h2 {
    font-size: xx-large;
}

h3,
em {
    color: #f5ae2b;
}

em {
    font-style: oblique;
    font-weight: bold;
}

strong {
    color: #ffc400;
    font-weight: bold;
}

strong.special {
    text-decoration: underline;
}

a {
    color: #1c1c1c;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
    text-decoration: underline;
}

hr {
    border: none;
    height: 8px;
    margin: 0;

    background: #1c1c1c;
}

hr.footer {
    background: #ffc400;
}

ul {
    list-style-type: none;
}

input[type="submit"] {
    color: #1c1c1c;
    background: #ffc400;
    cursor: pointer;
    display: block;

    margin: 12px auto;
    padding: 10px 25px;

    border: none;
    outline: none;
    border-radius: 50px;
}

input[type="submit"]:hover {
    background: #f5ae2b;
}

input[type="submit"]:active {
    background: #f39f46;
}

/* Laptops et Ordinateurs de bureaux */
@media only screen and (min-width: 992px) {
    header h1 {
        font-size: 60px;
    }

    header .nav-container {
        margin: auto 0;
    }

    header nav.big-device {
        margin: auto 24px;
    }

    header nav.big-device li {
        display: inline;
        font-size: 24px;
        margin: 4px;
        padding: 4px;
    }

    nav.small-device {
        display: none;
    }

    main .presentation .contenu {
        grid-template-columns: auto auto auto;
    }

    main .a-propos,
    main .specialite {
        border-right: 2px #1c1c1c solid;
    }

    main .slogan div {
        font-size: 45px;
    }

    main .contact {
        grid-template-columns: 25% 25% 25% 25%;

        margin: 0 25px;
    }

    main .contact .formulaire {
        grid-column: 1 / 3;
    }

    main .contact .emplacement {
        grid-column: 3 / 5;
    }

    main .contact .emplacement #map {
        width: 490px;
        height: 400px;
    }

    footer {
        grid-template-columns: 25% 25% 25% 25%;
    }

    footer .contact {
        grid-column: 2 / 3;
    }

    footer .horraire {
        grid-column: 3 / 4;
    }

    footer em {
        position: relative;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        left: 50%;
    }
}

/* Tablettes et grand telephones */
@media only screen and (min-width: 750px) and (max-width: 991px) {
    header h1 {
        font-size: 40px;
    }

    header .nav-container {
        position: relative;
        width: 20%;
    }

    header nav.big-device {
        display: none;
        position: absolute;
        z-index: 2;
        top: 100%;
        right: 20px;
        background: #fff4e0;
        width: 100%;
        border-radius: 0 0 25px 25px;
        text-align: center;
    }

    header nav.big-device ul {
        margin: 5px;
        padding: 5px;
    }

    header nav.big-device a {
        margin: 7px 0;
    }

    header nav.small-device {
        background-color: #fff4e0;
        width: 135px;
        height: 80%;
        border-radius: 50px;
        position: relative;
        right: 20px;
        transition: transform ease-in-out .1s;
    }

    header nav.small-device .element {
        height: 14%;
        width: 50%;
        border-radius: 50px;
        top: 10px;
        position: relative;

        margin: 10px auto;
        background: #f5ae2b;

        transition: transform ease-in-out .3s;
    }

    header nav.small-device:hover .element:first-child {
        transform: translateY(5px);
    }

    header nav.small-device:hover .element:nth-child(3) {
        transform: translateY(-5px);
    }

    header .nav-container:hover nav.small-device {
        transform: translateY(10px);
        border-radius: 25px 25px 0 0;
    }

    header .nav-container:hover nav.big-device {
        display: block;
        border-bottom: solid 1px #1c1c1c;
        border-left: solid 1px #1c1c1c;
    }

    header .left img {
        max-width: 72px;
        max-height: auto;
    }

    main .presentation .contenu {
        grid-template-columns: auto auto;
    }

    main .a-propos {
        border-right: 2px #1c1c1c solid;
    }

    main .evenement {
        border-top: 2px #1c1c1c solid;
        grid-column: 1/3;
    }

    main .slogan div {
        font-size: 45px;
    }

    main .contact {
        grid-template-columns: auto;

        margin-left: 5%;
    }

    main .contact .emplacement #map {
        width: 550px;
        height: 400px;
    }

    footer {
        grid-template-columns: auto auto;
    }

    footer em {
        position:relative;
        left: 50%
    }
}

/* Petit telephones */
@media only screen and (max-width: 749px) {
    header h1 {
        font-size: 30px;
    }

    header .nav-container {
        position: relative;
        width: 20%;
    }

    header nav.big-device {
        display: none;
        position: absolute;
        z-index: 2;
        top: 100%;
        right: 20px;
        background: #fff4e0;
        width: 100%;
        border-radius: 0 0 25px 25px;
        text-align: center;
    }

    header nav.big-device ul {
        margin: 5px;
        padding: 5px;
    }

    header nav.big-device a {
        margin: 7px 0;
    }

    header nav.small-device {
        background-color: #fff4e0;
        width: 80px;
        height: 80%;
        border-radius: 50px;
        position: relative;
        right: 20px;
        transition: transform ease-in-out .1s;
    }

    header nav.small-device .element {
        height: 14%;
        width: 50%;
        border-radius: 50px;
        top: 10px;
        position: relative;

        margin: 10px auto;
        background: #f5ae2b;

        transition: transform ease-in-out .3s;
    }

    header nav.small-device:hover .element:first-child {
        transform: translateY(5px);
    }

    header nav.small-device:hover .element:nth-child(3) {
        transform: translateY(-5px);
    }

    header .nav-container:hover nav.small-device {
        transform: translateY(10px);
        border-radius: 25px 25px 0 0;
    }

    header .nav-container:hover nav.big-device {
        display: block;
        border-bottom: solid 1px #1c1c1c;
        border-left: solid 1px #1c1c1c;
    }

    header .left img {
        max-width: 72px;
        max-height: auto;
    }

    main .presentation .contenu {
        grid-template-columns: auto;
    }

    main .a-propos {
        border-bottom: 2px #1c1c1c solid;
    }

    main .evenement {
        border-top: 2px #1c1c1c solid;
    }

    main .slogan div {
        font-size: 30px;
    }

    main .contact {
        grid-template-columns: auto;

        margin-left: 5%;
    }

    main .emplacement #map {
        width: 350px;
        height: 350px;
    }

    footer {
        grid-template-columns: auto;
    }

    footer em {
        position: relative;
        left: 20px;
    }
}